* {
    box-sizing: border-box;
}
img {
  width: 100%;
}
.logo {
    width: 15%;
    margin: -40% 0 0 40%;
}
.boba-menu, .boba-gallery, .boba-info, .boba-preorder {
    width: 10%;
}
.contents-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}
/*menu-page*/
.menu-deco-top {width: 30%;}
.menu-deco-bottom {rotate: 180deg;}
.menu-page, .gallery-page, .info-page h1 {
    font-family: 'FreightBig Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.065em;
    color: #000000;
}
.menu-descr {
    font-family: 'Ika Trial';
    font-style: normal;
    font-size: 16px;
    color: #000000;
    margin: 20px 40px 0 40px;
    border: 1px dashed black;
    padding: 20px;
}
.menu-page h2 {
    font-family: 'PP Rader';
    font-style: normal;
    font-size: 32px;
    letter-spacing: 0.15em;
    color: #000000;
    margin: 40px 0 0 0%;
}
ul li {
    font-family: 'Ika Trial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin: 10px 0 10px 0;
}
/*gallery-page*/
.gallery-page h1 {
    margin: 40px;
}
.photos {
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.photos {
    width: 30%;
}
.arrow {
    width: 10%;
}
.gallery-deco { margin-top: -55%;}
/*info-page*/
