* {
  box-sizing: border-box;
}
/* ALL PAGES */
.menu-page,
.gallery-page,
.info-page,
.preorder-page h1 {
  font-family: 'FreightBig Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  text-align: center;
  letter-spacing: 0.065em;
  color: #000000;
}
/* HOME PAGE */
.drop-1 {
  width: 100%;
  margin-bottom: -20%;
}
.logo {
  width: 15%;
  position: relative; left: 40%; z-index: 100;
}
.boba-1, .boba-2, .boba-3, .boba-4 {
    width: 20%;
}
.home-page h1 {
    font-family: 'FreightBig Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.065em;
    position: relative;
}
.contents-box {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 5%;
}
@media screen and (max-width: 768px){
  .contents-box {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .home-page h1 {
    font-size: 17px;
  }
}
h1 a {
  text-decoration: none;
  color: #5b3e2b;
}
.boba-1 a:hover { color: #937c52; }
.boba-2 a:hover { color: #478c34; }
.boba-3 a:hover { color: #cd5c9a; }
.boba-4 a:hover { color: #e47119; }

/* MENU PAGE*/
.menu-page h1 {
  margin-top: -5%;
}
.menu-deco-top {
  width: 30%;
  margin-left: -70%;
}
.menu-deco-bottom {
  rotate: 180deg;
  margin-top: -20%;
}
.menu-descr {
  font-family: 'Ika Trial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 30px 40px 0 40px;
  border: 1px dashed black;
  padding: 20px;
}
.menu-page h2 {
  font-family: 'PP Rader';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.15em;
  color: #000000;
  margin: 50px 0 0 0%;
}
ul li {
  font-family: 'Ika Trial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin: 10px 0 10px 0;
}

/* GALLERY PAGE*/
.gallery-page h1 {
  margin: 40px;
}
.drop-3 {
  width: 100%;
  margin-top: -40%;
}
/* slideshow */
.slideshow { 
    max-width: 1500px;
    position: relative;
    margin: auto;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin: -10% 20% 0 -30%;
  color: #4c3726;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    color: rgba(70, 70, 70, 0.8);
}
/* The bullets indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}
.active,
.dot:hover {
  background-color: #4c3726;
}
/* INFO PAGE */
.info-page h1 {
  margin: 40px 0 70px 0;
}
.info-box {
  position: absolute;
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
}
.info-page h2 {
  font-family: 'PP Rader';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.15em;
  color: #000000;
}
.info-page p {
  font-family: 'Ika Trial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.location {
  flex-grow: 2;
}
.hours {
  flex-grow: 1;
}
.location { flex-grow: 2; }
.hours { flex-grow: 1;}
@media screen and (max-width: 768px){
  .info-box {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
  }
  .hours{
    margin-top: 10%;
  }
}
.drop-4{
  width: 100%;
  margin-top: 30%;
}
/* PRE-ORDER */
@media screen and (max-width: 768px){
  .bigbox{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .submit-button{
    margin: 5% 0 0 50%;
  }
}
.preorder-page h1 {
  margin: 40px;
}
.drop-box {
  display: flex;
  width: 40%;
}
.drop-2 {
    transform: scaleX(-1);
    margin-left: 100%;
}
.bigbox {
  font-family: 'PP Rader';
  font-style: normal;
  font-size: 25px;
  line-height: 48px;
  letter-spacing: 0.15em;
  color: #000000;
}
.bigbox {
  display: flex;
}
.left-box {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 10% 0 10%;
}
.right-box {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  margin: 0 10% 0 10%;
}
/* MILK TOPPING CHECKBOX */
.choice {
font-family: 'Ika Trial';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

color: #000000;
}
input[type="checkbox"] {
    appearance: none;
    border: solid;
    margin: 0;
  }
input[type="checkbox"]:checked {
    background: #A0BC7B;
  }
  
  @media (pointer: fine) {
    input[type="checkbox"] {
      width: 15px;
      height: 15px;
      border-width: 1px;
      border-color: #4C3726;
      cursor : pointer;
    }
  }
/* SWEETNESS */
.sweetness-slider{
  width: 30px;
  top: 100%;
  left: 100%;
}
.submit-button a{
  text-decoration: none;
  color: #000000;
  border: #000000;
  border-style: solid;
  text-align: center;
  border-radius: 20%;
  width: 100px;
  background-color: #F8B15F;
  margin: 10% 0 20% -30%;
}

/* DROPDOWN */
form span{
  display: block;
  margin-top: 20px;
}
.right-box form{
  width: 300px;
}

/*LAST PAGE*/
.item1 {
font-family: 'FreightBig Pro';
font-style: normal;
font-weight: 600;
font-size: 35px;
text-align: center;
letter-spacing: 0.065em;
color: #000000;
margin: 30%;
}
.item2 {
font-family: 'Ika Trial';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-align: center;
margin-top: -20%;
}
.submit a {
font-family: 'PP Rader';
font-style: normal;
font-size: 32px;
letter-spacing: 0.15em;
text-decoration: none;
color:#478c34;
text-align: center;
margin-top: -25%; margin-left: 46%;
position: absolute;
}
.drop-6 { margin-top: -25%;}

input[type='checkbox'] {
  appearance: none;
  border: solid;
  margin: 0;
}

/* MOVING BUBBLES */
#bubbles-2 .cls-4,
#bubbles .cls-4 {
  animation-name: bubbles;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.cls-4:nth-child(1) {
  animation-delay: 150ms;
}
.cls-4:nth-child(2) {
  animation-delay: 200ms;
}
.cls-4:nth-child(3) {
  animation-delay: 250ms;
}
.cls-4:nth-child(4) {
  animation-delay: 300ms;
}
.cls-4:nth-child(5) {
  animation-delay: 350ms;
}

@keyframes bubbles {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}
